body {
    background: #8BC8EC url(../images/bg-login.png) center 150px no-repeat;
}

.box {
    width: 530px;
    padding: 100px 40px; 	
	margin:0 auto 0 auto; 
}  	

.social-box {
    position: absolute;
    width: 350px;
    padding: 25px 95px;
    display: block;
    height: auto;
}

#logo {
	width: 94%;
	height: 82px;
	position: relative;
	margin: 0px 39px 10px;
	padding: 0px 1px;
	margin-bottom: 19px;
	margin-left: 65px;
}

form.login_form, .box.register form {
	width:100%;
}

.box form.login_form p, .box.register form fieldset div {
	display: inline;
	position: relative;
}

.box form.login_form p label, .box.register form fieldset label {
	margin-right:0;
	display: none;
}

.box form.login_form p input, .box.register form fieldset input {
	font-size: 1.3em;
	width: 46.4%;
	margin: 15px 0;
}

.box form.login_form p input#id_remember_me {
	width: auto;
	/*top: 35px;*/
	/*position: absolute;*/
	/*left: 437px;*/
	margin-top:5px;
	#margin-top:-3px;
	background:none;
	border:none;
}

.box form.login_form p.submit {
	left: 208px;
}

.box form.login_form #rememberme {
	width: auto;
	font-size: 11px;
	float: right;
	margin-top: 47px;
}

.box form.login_form #rememberme:hover { color: #FFF; }

.box button {
	width: 112px;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	font-size: 18px !important;
	font-family: bold 18px Helvetica, Arial, sans-serif !important;
	padding: 9px 26px !important;
	font:bold 14px arial;
	color: #fff;
	text-decoration: none;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;	
	border: none;
}

.box.register button {
	width: 140px;
	margin-left: 50%;
}


.form	{
	-webkit-box-shadow: rgba(250, 250, 250, 1) -0px -0px 3px 2px;			
	position: absolute;
	overflow: auto;
	padding: 0px 20px 0px 20px;
	background-color: white;
  	-webkit-border-radius: 8px;
  	-moz-border-radius: 8px;
	zoom: 1; 
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	display: block;
	border: 2px solid #E2E2E2;
	margin: 0px 10px 10px 10px;
	width: 600px;
	border: 2px solid #E2E2E2;
} 

.form input, .form area {
	margin-top: 5px;
	margin-bottom: 15px;	
}

.box #message-container,.box.register #message-container, 
.login-switch {
	position:absolute;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	line-height: 17px;
	padding: 16px 18px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #2C3D4E;
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.5) inset,0 -1px 0 rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.5) inset,0 -1px 0 rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.5) inset,0 -1px 0 rgba(0, 0, 0, 0.2) inset;
	left: 38%;
	width: 250px;
	top:0px;
	text-align: center;	
}

ul.messages.register li {
	top:41px;
}

.box #message-container {
	top: -241px;
	position: relative;
	left: 112px;
}

.login-switch {
	left: 38.5% !important;
	margin: 0 5px 0 0;
}


.login-switch, .login-switch.register {
    font-size: 16px;
    top: 0px !important;
    left: 0;
    margin-left: 451px;
}

.login-switch.register {
	/*top: 41px !important;*/
	padding-top:16px !important;
}

.box.register form fieldset ul.errorlist li {
	position: relative;
	top: 110px;
	color: white;
	background: url(../images/exclamation.png) no-repeat;
	padding-left: 20px;
}

.box.register form fieldset ul.errorlist {
	float:left;
	position:relative;
}

.box.register #message-container {
	padding: 13px 18px 16px;
	font-size: 25px;
}

.register	{

	padding-top: 5px;
	margin-top: -0px !important;	 
}

.box.register {
	top:20% !important;
}
.box fieldset {
	padding: 10px 0px;
	border: none;
	margin: 0px;
}

.errors {
	margin-left: 120px;
	padding-left: 30px;
	background: url(../images/exclamation-red-frame.png) no-repeat;
}

.errorlist {
	color: red;
	top: -100px;
	display:none;
}

.box.register form fieldset ul.errorlist {
	float: left;
	position: relative;
}


.box alert p {
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(0,0,0, .4);
	text-align: center;
}

.box alert p fail {
	color: red;
}

.box a {
	color:black;
}

.box a:hover {
	color:black;
}

.box alert h2 {
	border: none;
}
