{% extends "base_clean.html" %}
{% load i18n %}
{% block extra_css%}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blue.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/access.css">
{% endblock%}


{% block title %}{% trans 'Sign up' %}{% endblock %}

{% block content %}

{% if form.errors %}
<div class="alert-message fade in error">
    <a class="close" data-dismiss="alert" href="#">&times;</a><p>{% trans 'The email is wrong' %}</p>
</div>
{% endif %}  

<ul class="messages-help">
   <li>{% trans 'Welcome, to get an account need associate a email address' %}</li>
</ul>
	<div class="box register">
        <form action="" method="post">
          {% csrf_token %}
          <fieldset>

              {{ form }}
            
          </fieldset>
          <p class="submit"><button type="submit" name="submit" value="{% trans "Sign up" %}" class="button transition orange">Sign up</button></p>
        </form>   
	</div>
{% endblock %}
