{% extends "base_clean.html" %}
{% load i18n %}

{% block title %}Account activation complete{% endblock %}

{% block body_class %}{{ block.super }} registration_activation_complete{% endblock %}
    
{% block extra_css %} 
    <META HTTP-EQUIV="Refresh" CONTENT="10; URL=/">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blue.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/access.css">
{% endblock %}


{% block content %}
<div class="box">
<div id="logo"><img src="{{ STATIC_URL }}images/bg-logo.png" width="80%"></div>
<div class="well">
    <h2>{% trans 'Congratulations!' %}</h2>
    <h3>{% trans 'Your account has been activated.' %}.</h3>
    <h4>{% trans 'You will be redirect to the home page in 10 seconds, if not, ' %}<a href = "/">{% trans 'click here' %}</a></h4>
</div>
</div>
{% endblock %}
