{% extends "base_facebox.html" %}


{% block title %}Account activation complete{% endblock %}
{% block body_class %}{{ block.super }} registration_activation_complete{% endblock %}
{% block extra_css %} <META HTTP-EQUIV="Refresh" CONTENT="5; URL=/">
<link rel="stylesheet" href="{{ STATIC_URL }}css/facebox.css"> {% endblock %}

{% block content_title %}
  <h2>Account activation complete</h2>
{% endblock %}


{% block content %}
<div class = "box">
  <alert><p>&iexcl;Congratulations!</p> <p>Your account has been activated.</p></alert>
 </div>
 <div id="redirect">
     <img src="{{ STATIC_URL }}images/blufrog.jpg" width="200px" height="280px">
     <div id="text">Bienvenido a Blufrog. En seguida serás redireccionado a la página de inicio, de no ser as&iacute; da click <a href = "/">aqu&iacute;</a></div>
 </div>
{% endblock %}