{% extends "base.html" %}
{% load i18n %}

{% block extra_css%}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/access.css">
{% endblock%}

{% block title %}Log in{% endblock %}

{% block body_class %}{{ block.super }} login_form {% endblock %}

{% block content %}

<div class="box">
  <form action="{% url django.contrib.auth.views.login %}" method="post" class="login_form">
    {% csrf_token %}
    <p>
        <input type="text" 
                name="identification" 
                id="id_identification" 
                placeholder="{% trans 'Email address' %}"
                title="{% trans 'Email address' %}"
                rel="popover" 
                data-placement="left"
                data-content="{% trans 'you must provide the email address when you created the account.' %}">
    </p>
    <p>
        <input type="password" 
               name="password" 
               id="id_password" 
               placeholder="Password" 
               title="{% trans 'You password' %}"
               rel="popover" 
               data-content="{% trans 'you must provide the password account. if you forget your password you can retrieve' %}">
    </p>
    <p class="submit"><button type="submit" name="submit" value="Login" class="btn large">Log in</button></p>

    {% if next %}
    <input type="hidden" name="next" value="{{ next }}">
    {% endif %}
  </form>
    
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
$(function () {
    $("input[rel=popover]")
      .popover()
      .click(function(e) {
        e.preventDefault()
      })
      
})
</script>
{% endblock %}
