{% extends "base_clean.html" %}
{% load i18n %}

{% block title %}{% trans 'Sign up complete' %} {% endblock %}

{% block extra_css%}
    <META HTTP-EQUIV="Refresh" CONTENT="10; URL=/">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blue.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/access.css">
{% endblock%}

{% block content %}
<div class="box">
<div class="well">
    <h2>{% trans 'Thank you!' %}</h2>
    <h3>{% trans 'An email has been sent to you. You need to click the link to activate your account' %}.</h3>
    <h4>{% trans 'You will be redirect to the home page in 10 seconds, if not, ' %}<a href = "/">{% trans 'click here' %}</a></h4>
</div>
</div>
{% endblock %}
