{% extends "base_clean.html" %}
{% load i18n %}

{% block extra_css%}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/access.css">
{% endblock%}

{% block title %}{% trans 'Sign up' %}{% endblock %}

{% block content %}

  {% if form.errors %}
  <div class="alert-message fade in error">
      <a class="close" data-dismiss="alert" href="#">&times;</a><p>{% trans 'Error while submitting form' %}</p>
  </div>
  {% endif %}  
  	
	<div class="box register">
        <form action="" method="post">
          {% csrf_token %}
          <fieldset>
              <p>
                  <label for="id_email">{% trans 'Email' %}</label> 
                  <input id="id_email" 
                         type="text" 
                         class="required" 
                         name="email" 
                         maxlength="75" 
                         placeholder="{% trans 'Email' %}" />
              </p>
              <p>
                  <label for="id_password1">{% trans 'Create password' %}</label> 
                  <input id="id_password1" 
                        type="password" 
                        class="required" 
                        name="password1" 
                        placeholder="{% trans 'Create password' %}" />
              </p>
              <p>
                  <label for="id_password2">{% trans 'Repeat password' %}</label> 
                  <input id="id_password2" 
                         type="password" 
                         class="required" 
                         name="password2" 
                         placeholder="{% trans 'Repeat password' %}" />
              </p>
          </fieldset>
          <button type="submit" name="submit" value="{% trans "Sign up" %}" class="btn large">Sign up</button>
        </form>
	                    
	</div>
	
{% endblock %}

